In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate() # install Java_home first

In [3]:
df = spark.read.json('people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns #attribute so it doesn't need closed parentheses

['age', 'name']

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [13]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)] #True allows nulls value

In [15]:
final_struc = StructType(fields = data_schema)

In [16]:
df=spark.read.json('people.json', schema=final_struc)

In [19]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [22]:
# infering schema in jason is tricky (hopefully it gets better in the future)
# it is much easier to infer schema in csv

In [31]:
type(df['age'])

pyspark.sql.column.Column

In [32]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [27]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [37]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [39]:
df.select(['age', 'name']).show() # equals to df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [49]:
df.withColumn('double_age', df['age']*2).show() #add new column

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [50]:
df.withColumnRenamed('age','newage').show() #rename a column

+------+-------+
|newage|   name|
+------+-------+
|  null|Michael|
|    30|   Andy|
|    19| Justin|
+------+-------+

In [57]:
df.createOrReplaceTempView('people') #this df is now registered as sql temp view table

In [60]:
results = spark.sql("SELECT * FROM people WHERE age =30")

In [61]:
results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+